In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import itertools
%matplotlib inline

### Import First Name Files

In [2]:
#path = r'\\CPFSPRDAPAWSE01\userdata$\shilts\Documents\Projects\name-anagram\names'
path = r'D:\Users\shilts\Anagram\names'
last_path  = r'D:\Users\shilts\Anagram\Names_2010Census.csv'
# date = 2000
# df = pd.read_csv(path+'\yob'+str(date)+'.txt',names=['name','gender','count'])
# df['year'] = date

In [3]:
date = 1880
df = pd.read_csv(path+'\yob'+str(1880)+'.txt',names=['name','gender','count'])
df['year'] = date

for date in range(1880,2019):
    df_temp = pd.read_csv(path+'\yob'+str(date)+'.txt',names=['name','gender','count'])
    df_temp['year'] = date
    df = df.append(df_temp)
df_firstname = pd.DataFrame(df.groupby(['name','gender'])['count'].sum())

In [4]:
df_firstname.reset_index(inplace=True)
df_firstname.columns = ['name', 'gender','count']

### Run First-Name Finder

In [5]:
test_name = 'stefanhilts'
test_name = test_name.upper()
#test_name = [x.upper() for x in test_name]
test_name

'STEFANHILTS'

In [6]:
alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']

In [7]:
def letter_count(name):
    letter_list = []
    name = name.upper()
    for letter in alphabet:
        letter_list.append(name.count(letter))
    return np.array(letter_list)

def name_compare(name1,name2):
    letter_array = letter_count(name1) - letter_count(name2)
    if min(letter_array)<0:
        str_letter = ''
    else:
        str_letter = ''
        for x in range(26):
            str_letter = str_letter+letter_array[x]*alphabet[x]
    vowel_count = letter_array[0]+letter_array[4]+letter_array[8]+letter_array[14]+letter_array[20]+letter_array[24]
    return str_letter,vowel_count

In [8]:
def first_name_list(testname, df, min_length, max_length, vowels):
    df['eligible'] = df['name'].apply(lambda x: name_compare(testname,x)[0])
    df['vowels'] = df['name'].apply(lambda x: name_compare(testname,x)[1])
    df['rem_count'] = df['eligible'].apply(lambda x: len(x))
    return df[(df['eligible']!='')&(df['vowels']>=vowels)&(df['rem_count']>min_length)&(df['rem_count']<max_length)]

### Last Name Pairs Parser
- Calculate the percentages of consecutive letter pairs based on historic Census data
- Use percentages to create a minimized error

In [9]:
df_lastname = pd.read_csv(last_path)#,names=['name','gender','count'])
df_lastname = df_lastname.iloc[:-1]
df_lastname.sort_values(by='count',ascending=False)

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic
0,SMITH,1,2442977,828.19,828.19,70.9,23.11,0.5,0.89,2.19,2.4
1,JOHNSON,2,1932812,655.24,1483.42,58.97,34.63,0.54,0.94,2.56,2.36
2,WILLIAMS,3,1625252,550.97,2034.39,45.75,47.68,0.46,0.82,2.81,2.49
3,BROWN,4,1437026,487.16,2521.56,57.95,35.6,0.51,0.87,2.55,2.52
4,JONES,5,1425470,483.24,3004.80,55.19,38.48,0.44,1,2.61,2.29
5,GARCIA,6,1166120,395.32,3400.12,5.38,0.45,1.41,0.47,0.26,92.03
6,MILLER,7,1161437,393.74,3793.86,84.11,10.76,0.54,0.66,1.77,2.17
7,DAVIS,8,1116357,378.45,4172.31,62.2,31.6,0.49,0.82,2.45,2.44
8,RODRIGUEZ,9,1094924,371.19,4543.50,4.75,0.54,0.57,0.18,0.18,93.77
9,MARTINEZ,10,1060159,359.40,4902.90,5.28,0.49,0.6,0.51,0.22,92.91
10,HERNANDEZ,11,1043281,353.68,5256.58,3.79,0.36,0.6,0.19,0.16,94.89
11,LOPEZ,12,874523,296.47,5553.05,4.86,0.57,1.02,0.38,0.25,92.92
12,GONZALEZ,13,841025,285.11,5838.16,4.03,0.35,0.38,0.14,0.13,94.97
13,WILSON,14,801882,271.84,6110.00,67.36,25.99,0.6,1.06,2.38,2.61
14,ANDERSON,15,784404,265.92,6375.92,75.17,18.93,0.61,0.74,2.11,2.44
15,THOMAS,16,756142,256.34,6632.26,52.63,38.75,2.44,1.07,2.58,2.54
16,TAYLOR,17,751209,254.67,6886.93,65.38,28.42,0.56,0.76,2.41,2.46
17,MOORE,18,724374,245.57,7132.49,66.41,27.74,0.48,0.68,2.34,2.34
18,JACKSON,19,708099,240.05,7372.54,39.89,53.04,0.39,1.06,3.12,2.5
19,MARTIN,20,702625,238.19,7610.74,74.8,15.76,0.9,0.98,2.02,5.56
20,LEE,21,693023,234.94,7845.68,35.95,16.33,42.22,0.97,2.64,1.89
21,PEREZ,22,681645,231.08,8076.76,4.96,0.45,1.17,0.2,0.26,92.95
22,THOMPSON,23,664644,225.32,8302.08,69.78,23.57,0.57,1.22,2.37,2.49
23,WHITE,24,660491,223.91,8525.99,65.51,28.17,0.49,1.07,2.38,2.38
24,HARRIS,25,624252,211.63,8737.62,51.4,42.39,0.47,0.67,2.8,2.26
25,SANCHEZ,26,612752,207.73,8945.34,4.98,0.45,0.96,0.37,0.24,92.99
26,CLARK,27,562679,190.75,9136.10,74.65,19.02,0.54,1.01,2.19,2.58
27,RAMIREZ,28,557423,188.97,9325.07,3.89,0.31,0.93,0.2,0.19,94.48
28,LEWIS,29,531781,180.28,9505.34,58.23,34.84,0.56,1.2,2.58,2.58
29,ROBINSON,30,529821,179.61,9684.96,48.7,44.93,0.46,0.53,2.77,2.61
...,...,...,...,...,...,...,...,...,...,...,...
161382,STRILER,160975,100,0.03,90033.54,99,0,(S),0,0,(S)
161392,STROO,160975,100,0.03,90033.87,99,0,0,0,(S),(S)
161381,STEFANOSKI,160975,100,0.03,90033.50,100,0,0,0,0,0
161380,SOUKI,160975,100,0.03,90033.47,68,(S),(S),0,10,19
161379,SOULEN,160975,100,0.03,90033.43,99,(S),0,0,0,(S)
161378,SPALE,160975,100,0.03,90033.40,89,(S),(S),(S),(S),5
161377,STAWARSKI,160975,100,0.03,90033.37,93,0,(S),0,5,(S)
161376,STANGROOM,160975,100,0.03,90033.33,99,(S),0,0,0,(S)
161375,SOVINSKY,160975,100,0.03,90033.30,98,(S),0,0,0,(S)
161391,STOLLY,160975,100,0.03,90033.84,96,(S),0,0,0,(S)
161393,STILO,160975,100,0.03,90033.91,91,(S),0,0,(S),(S)
161411,SKRABUT,160975,100,0.03,90034.52,94,(S),5,0,0,(S)
161403,SKURNICK,160975,100,0.03,90034.25,92,(S),(S),0,5,(S)
161410,SIRLOUIS,160975,100,0.03,90034.48,97,(S),0,0,0,(S)
161409,SIERSMA,160975,100,0.03,90034.45,92,(S),(S),0,0,6
161408,SKEATE,160975,100,0.03,90034.42,92,(S),0,0,(S),6
161407,SKEDEL,160975,100,0.03,90034.38,98,0,(S),0,(S),0
161406,SIROVATKA,160975,100,0.03,90034.35,100,0,0,0,0,0
161405,SINAK,160975,100,0.03,90034.31,95,(S),(S),0,0,(S)
161404,SIPPERLY,160975,100,0.03,90034.28,98,0,(S),0,(S),0
161402,SKALETSKI,160975,100,0.03,90034.21,100,0,0,0,0,0
161394,STRIEGLER,160975,100,0.03,90033.94,93,0,(S),0,(S),(S)
161401,STILLMUNKES,160975,100,0.03,90034.18,95,(S),0,0,(S),(S)
161400,STOPPELMAN,160975,100,0.03,90034.15,99,(S),0,0,0,(S)
161399,STEFANAK,160975,100,0.03,90034.11,99,0,(S),0,0,(S)
161398,STENGELE,160975,100,0.03,90034.08,98,(S),(S),0,0,0
161397,STRUECKER,160975,100,0.03,90034.04,99,0,0,(S),0,(S)
161396,STRULOVITCH,160975,100,0.03,90034.01,97,(S),0,0,0,(S)
161395,STEUP,160975,100,0.03,90033.98,97,(S),0,0,0,(S)
162252,DORIOTT,160975,100,0.03,90063.03,89,0,(S),0,5,(S)

In [10]:
pair_probs = np.array(np.zeros(676))
for testname in df_lastname['name'].values:
    for x in range(26):
        for y in range(26):
            str_chk = alphabet[x]+alphabet[y]
            try:
                pair_probs[x*26+y] += testname.count(str_chk)
            except:
                pass
                #print(testname)
pair_probs

array([6.6300e+02, 2.6070e+03, 4.3540e+03, 3.7210e+03, 7.2700e+02,
       1.1580e+03, 3.1180e+03, 1.8230e+03, 2.4060e+03, 6.5000e+02,
       2.7690e+03, 1.0038e+04, 5.2560e+03, 2.1720e+04, 3.1900e+02,
       1.6400e+03, 1.4300e+02, 1.5738e+04, 6.8690e+03, 5.0220e+03,
       4.2140e+03, 2.1280e+03, 1.1440e+03, 1.7500e+02, 2.2070e+03,
       1.4410e+03, 5.9650e+03, 6.2700e+02, 1.5000e+01, 1.3100e+02,
       7.0780e+03, 5.0000e+00, 5.0000e+00, 1.5300e+02, 2.4040e+03,
       4.1000e+01, 5.4000e+01, 1.4920e+03, 2.7000e+01, 7.5000e+01,
       3.8040e+03, 3.0000e+00, 0.0000e+00, 3.6280e+03, 2.1300e+02,
       1.6000e+01, 2.6000e+03, 2.0000e+00, 4.0000e+00, 0.0000e+00,
       5.8200e+02, 1.1000e+01, 5.3040e+03, 3.8000e+01, 1.6130e+03,
       1.0100e+02, 2.0860e+03, 5.8000e+01, 2.8500e+02, 1.2252e+04,
       2.6420e+03, 6.0000e+00, 5.7130e+03, 9.3200e+02, 1.2800e+02,
       1.2900e+02, 4.5570e+03, 4.3000e+01, 1.1300e+02, 1.3490e+03,
       9.8000e+01, 1.1300e+02, 1.0870e+03, 3.6000e+01, 4.6000e+01,
       0.0000e+00, 1.5700e+02, 9.2800e+02, 4.0250e+03, 1.8700e+02,
       3.5000e+01, 7.7300e+02, 8.7430e+03, 9.4000e+01, 4.7500e+02,
       3.3400e+02, 3.8580e+03, 4.2000e+01, 1.0500e+02, 8.4400e+02,
       2.6300e+02, 2.3000e+02, 3.6260e+03, 1.2000e+01, 1.1000e+01,
       1.6690e+03, 5.6000e+02, 6.1800e+02, 1.5810e+03, 5.9000e+01,
       2.3400e+02, 0.0000e+00, 6.5100e+02, 2.4800e+02, 3.3130e+03,
       1.7480e+03, 2.6600e+03, 2.6130e+03, 2.6190e+03, 9.6800e+02,
       1.8980e+03, 1.4710e+03, 4.5160e+03, 3.4800e+02, 1.8720e+03,
       1.3158e+04, 3.0910e+03, 1.3858e+04, 5.3900e+02, 1.0160e+03,
       5.1000e+01, 2.9385e+04, 7.7500e+03, 5.2780e+03, 9.3100e+02,
       1.4910e+03, 1.3420e+03, 1.7200e+02, 4.2790e+03, 2.0820e+03,
       1.8370e+03, 1.2000e+01, 1.7000e+01, 1.1000e+01, 2.5370e+03,
       1.9700e+03, 1.2000e+01, 2.8000e+01, 1.5700e+03, 9.0000e+00,
       6.6000e+01, 8.4600e+02, 8.0000e+01, 8.2000e+01, 1.5580e+03,
       5.0000e+00, 3.0000e+00, 1.4640e+03, 1.6800e+02, 2.8600e+02,
       5.8100e+02, 2.0000e+00, 1.0000e+00, 0.0000e+00, 4.2000e+01,
       1.5000e+01, 4.5880e+03, 1.5900e+02, 3.5000e+01, 1.1500e+02,
       5.8750e+03, 5.3000e+01, 7.8100e+02, 1.7760e+03, 1.9490e+03,
       2.2000e+01, 2.0000e+01, 1.5580e+03, 1.8000e+02, 6.5000e+02,
       2.6220e+03, 2.1000e+01, 7.0000e+00, 2.4950e+03, 5.0800e+02,
       2.8200e+02, 2.0980e+03, 9.0000e+00, 1.3500e+02, 2.0000e+00,
       1.1400e+02, 2.0000e+00, 8.6450e+03, 1.8800e+02, 6.1000e+01,
       5.6000e+01, 7.4070e+03, 7.8000e+01, 2.9000e+01, 9.9000e+01,
       4.0410e+03, 2.3000e+01, 1.8100e+02, 1.6030e+03, 8.5600e+02,
       8.9900e+02, 4.8150e+03, 1.3000e+01, 3.0000e+00, 1.2080e+03,
       2.1100e+02, 7.8700e+02, 2.1110e+03, 2.3000e+01, 3.8900e+02,
       0.0000e+00, 3.8900e+02, 5.0000e+00, 4.2330e+03, 9.6600e+02,
       6.1980e+03, 1.9820e+03, 6.5500e+03, 6.8300e+02, 2.6050e+03,
       2.5700e+02, 5.1000e+01, 1.3500e+02, 1.4100e+03, 5.8090e+03,
       2.2340e+03, 1.5287e+04, 2.4580e+03, 9.1800e+02, 1.0400e+02,
       2.4520e+03, 5.9650e+03, 4.1360e+03, 3.7400e+02, 8.4300e+02,
       1.3800e+02, 2.1500e+02, 1.2900e+02, 9.0900e+02, 1.5160e+03,
       3.0000e+00, 4.4000e+01, 3.3000e+01, 7.9500e+02, 2.0000e+00,
       2.0000e+00, 1.4000e+01, 3.8300e+02, 1.3000e+01, 4.8000e+01,
       1.3000e+01, 2.4000e+01, 3.9000e+01, 7.6200e+02, 7.0000e+00,
       1.0000e+00, 1.3000e+01, 2.2000e+01, 3.3000e+01, 4.6700e+02,
       4.0000e+00, 6.0000e+00, 0.0000e+00, 2.0000e+00, 2.0000e+00,
       4.1200e+03, 6.3000e+01, 1.2000e+01, 2.8000e+01, 5.6360e+03,
       4.7000e+01, 7.0000e+00, 6.0500e+02, 5.2950e+03, 2.1000e+01,
       1.2800e+02, 1.3640e+03, 2.5700e+02, 4.8800e+02, 3.9960e+03,
       2.0000e+01, 1.0000e+00, 1.2540e+03, 6.4400e+02, 6.0000e+01,
       1.3960e+03, 2.4000e+01, 1.7600e+02, 6.0000e+00, 8.4700e+02,
       8.0000e+00, 1.0851e+04, 9.8600e+02, 5.9800e+02, 2.2120e+03,
       1.2959e+04, 5.2500e+02, 3.6000e+02, 4.3700e+02, 8.6600e+03,
       7.1000e+01, 8.5000e+02, 1.0568e+04, 1.3170e+03, 2.2600e+02,
       6.1450e+03, 2.7600e+02, 4.1000e+01, 1.6300e+02, 1.6470e+03,
       1.4690e+03, 1.9870e+03, 5.4800e+02, 2.0000e+02, 5.0000e+00,
       1.0580e+03, 3.2700e+02, 1.1984e+04, 1.4220e+03, 1.9910e+03,
       5.5000e+01, 5.4820e+03, 4.9000e+01, 5.3000e+01, 5.4000e+01,
       3.6570e+03, 1.9000e+01, 1.5700e+02, 2.9000e+02, 1.1350e+03,
       6.4000e+01, 4.0250e+03, 1.1710e+03, 1.1000e+01, 1.8300e+02,
       5.8200e+02, 2.9000e+01, 1.5650e+03, 6.0000e+00, 3.2000e+01,
       0.0000e+00, 2.9600e+02, 2.8000e+01, 5.5220e+03, 1.4280e+03,
       1.7420e+03, 5.7490e+03, 9.2410e+03, 3.6800e+02, 6.0410e+03,
       7.7300e+02, 5.6350e+03, 1.3700e+02, 1.8300e+03, 3.7500e+02,
       2.0300e+02, 3.2330e+03, 4.7300e+03, 7.6000e+01, 8.0000e+01,
       2.9100e+02, 4.0310e+03, 3.8170e+03, 6.7000e+02, 1.4800e+02,
       2.5400e+02, 4.0000e+00, 6.7000e+02, 1.0640e+03, 5.7700e+02,
       1.2840e+03, 2.0010e+03, 1.9460e+03, 1.9870e+03, 1.1240e+03,
       1.0390e+03, 1.0640e+03, 5.8700e+02, 2.4700e+02, 8.7600e+02,
       6.1750e+03, 2.4930e+03, 1.1098e+04, 2.0260e+03, 1.4780e+03,
       5.6000e+01, 8.2200e+03, 4.5350e+03, 2.8190e+03, 3.3640e+03,
       2.0090e+03, 2.8870e+03, 1.9100e+02, 7.2100e+02, 7.6500e+02,
       3.6150e+03, 1.4000e+01, 5.5000e+01, 1.4000e+01, 3.9790e+03,
       3.0600e+02, 7.0000e+00, 5.8500e+02, 2.1870e+03, 3.0000e+00,
       1.9700e+02, 8.9600e+02, 6.5000e+01, 7.0000e+01, 2.1650e+03,
       1.3420e+03, 0.0000e+00, 1.2850e+03, 3.4600e+02, 1.4400e+02,
       6.7600e+02, 1.0000e+00, 1.5000e+01, 0.0000e+00, 1.4100e+02,
       4.0000e+00, 2.6000e+01, 2.0000e+00, 0.0000e+00, 2.0000e+00,
       4.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.5000e+01,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 2.0000e+00, 0.0000e+00,
       2.0000e+00, 0.0000e+00, 2.0000e+00, 0.0000e+00, 1.0000e+00,
       0.0000e+00, 1.3420e+03, 1.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 1.0728e+04, 1.2080e+03, 1.4530e+03,
       3.1720e+03, 1.0267e+04, 5.4200e+02, 2.7050e+03, 4.9600e+02,
       9.3960e+03, 8.2000e+01, 1.3020e+03, 1.5300e+03, 1.5980e+03,
       2.6460e+03, 8.6930e+03, 3.4700e+02, 1.0700e+02, 3.1180e+03,
       3.1140e+03, 4.3670e+03, 3.0700e+03, 4.6300e+02, 2.8400e+02,
       7.0000e+00, 1.6460e+03, 6.8500e+02, 4.8710e+03, 6.1900e+02,
       5.1250e+03, 1.9600e+02, 6.2760e+03, 1.2200e+02, 1.5200e+02,
       3.9790e+03, 3.6150e+03, 4.2000e+01, 4.4820e+03, 1.2720e+03,
       1.1030e+03, 5.3800e+02, 3.9480e+03, 1.2850e+03, 1.6600e+02,
       1.7300e+02, 3.4440e+03, 8.4430e+03, 1.2070e+03, 8.7000e+01,
       6.6300e+02, 0.0000e+00, 2.6700e+02, 5.9400e+02, 5.3320e+03,
       9.7000e+01, 5.4900e+02, 1.8000e+01, 8.3070e+03, 8.7000e+01,
       1.1200e+02, 3.6300e+03, 4.2770e+03, 9.7000e+01, 4.1800e+02,
       9.1900e+02, 4.9600e+02, 3.8800e+02, 5.5340e+03, 2.7000e+01,
       3.0000e+00, 3.3880e+03, 1.4320e+03, 5.3350e+03, 1.3860e+03,
       5.4000e+01, 2.7000e+02, 0.0000e+00, 6.4700e+02, 1.9780e+03,
       8.1700e+02, 1.1760e+03, 1.6800e+03, 1.3740e+03, 2.6780e+03,
       5.8100e+02, 1.4490e+03, 4.4000e+02, 1.4510e+03, 1.1900e+02,
       7.1700e+02, 2.8410e+03, 1.9020e+03, 2.8190e+03, 1.9900e+02,
       7.6300e+02, 4.9000e+01, 4.5760e+03, 3.8860e+03, 2.2240e+03,
       3.5000e+01, 1.9300e+02, 9.7000e+01, 2.7400e+02, 2.4000e+02,
       6.1500e+02, 3.6400e+03, 1.0000e+00, 1.7000e+01, 1.3000e+01,
       3.5750e+03, 0.0000e+00, 3.0000e+00, 2.0000e+00, 3.1040e+03,
       5.0000e+00, 2.4000e+01, 1.4600e+02, 1.0000e+00, 3.5000e+01,
       1.0200e+03, 0.0000e+00, 0.0000e+00, 1.6800e+02, 1.2600e+02,
       6.0000e+00, 1.0800e+02, 8.0000e+00, 1.0000e+00, 0.0000e+00,
       7.7000e+01, 2.0000e+00, 2.9230e+03, 7.2000e+01, 5.2000e+01,
       1.1600e+02, 2.5930e+03, 1.3000e+01, 1.2000e+01, 4.2400e+02,
       2.8420e+03, 0.0000e+00, 7.2000e+01, 2.1500e+02, 4.6000e+01,
       2.0400e+02, 1.2740e+03, 6.0000e+00, 1.0000e+00, 1.8000e+02,
       1.2110e+03, 4.9000e+01, 1.5600e+02, 9.0000e+00, 7.0000e+00,
       1.0000e+00, 2.1000e+02, 7.0000e+00, 7.2000e+01, 2.1000e+01,
       1.5000e+01, 4.0000e+00, 1.0000e+02, 9.0000e+00, 0.0000e+00,
       2.0000e+01, 8.5000e+01, 0.0000e+00, 2.0000e+00, 3.7000e+01,
       2.0000e+01, 1.6000e+01, 4.3000e+01, 2.0000e+00, 2.0000e+00,
       5.0000e+00, 3.3000e+01, 8.6000e+01, 1.1000e+01, 3.0000e+00,
       1.0000e+01, 3.0000e+00, 2.0000e+00, 0.0000e+00, 1.4640e+03,
       2.1100e+02, 2.3500e+02, 2.9400e+02, 1.3980e+03, 6.2000e+01,
       9.0000e+01, 9.2000e+01, 9.9000e+01, 1.6000e+01, 3.8800e+02,
       4.2900e+02, 3.2100e+02, 7.1400e+02, 5.6500e+02, 7.0000e+01,
       4.0000e+00, 2.5400e+02, 4.5100e+02, 2.1800e+02, 2.0200e+02,
       4.0000e+01, 5.1000e+01, 6.0000e+00, 2.2000e+01, 5.5000e+01,
       2.5310e+03, 1.0100e+02, 1.5800e+02, 9.8000e+01, 2.1840e+03,
       3.4000e+01, 1.2600e+02, 1.0100e+02, 1.6640e+03, 2.3000e+01,
       2.4000e+02, 2.6500e+02, 3.4300e+02, 1.4300e+02, 9.5600e+02,
       5.0000e+01, 4.8000e+01, 1.4700e+02, 8.6000e+01, 3.2000e+01,
       5.1600e+02, 5.8000e+01, 1.1600e+02, 0.0000e+00, 4.7900e+02,
       7.5600e+02])

In [11]:
trio_probs = []
trio_letters = []

for x in range(26):
    for y in range(26):
        for z in range(26):
            str_chk = alphabet[x]+alphabet[y]+alphabet[z]
            triplet = 0
            for testname in df_lastname['name'].values:
                try:
                    triplet += testname.count(str_chk)
                except:
                    pass
            trio_probs.append(triplet)
            trio_letters.append(str_chk)

In [12]:
df_probs = pd.DataFrame(data = [trio_letters,list(trio_probs)]).T
df_probs.columns = ['pairs','counts']
df_probs['probs'] = df_probs['counts']/df_probs['counts'].sum()
df_probs.head(5)

  pairs counts        probs
0   AAA      1  1.24457e-06
1   AAB     23  2.86252e-05
2   AAC     26  3.23589e-05
3   AAD     27  3.36035e-05
4   AAE      4  4.97829e-06

In [13]:
df_probs.sort_values(by='probs',ascending=False)head()

SyntaxError: invalid syntax (<ipython-input-13-d3bb20310fc7>, line 1)

In [ ]:
df_probs.to_csv(r'D:\Users\shilts\Anagram\trio_probs.csv')

In [ ]:
# letter_pairs = []
# for x in range(26):
#         for y in range(26):
#             str_chk = alphabet[x]+alphabet[y]
#             letter_pairs.append(str_chk)
#             print(str_chk,pair_probs[x*26+y],x*26+y)

In [ ]:
# df_probs = pd.DataFrame(data = [letter_pairs,list(pair_probs)]).T
# df_probs.columns = ['pairs','counts']
# df_probs['probs'] = df_probs['counts']/df_probs['counts'].sum()
# df_probs.head(5)

#### FInd name.
1. Test probability of any given letter permutation
2. Test for all permutations
3. Sort by sum of pair probabilities

In [ ]:
prob_dict = {}
for x in range(len(df_probs)):
    prob_dict[df_probs['pairs'][x]] = df_probs['probs'][x]

In [ ]:
def test_probs_duo(letters):
    sum_prob = 1
    for x in range(len(letters)-1):
        test_str = letters[x]+letters[x+1]
        sum_prob = sum_prob * prob_dict.get(test_str)
        #print(test_str,prob_dict.get(test_str))
    return sum_prob*1000000000000

In [ ]:
def test_probs(letters):
    sum_prob = 1
    for x in range(len(letters)-2):
        test_str = letters[x]+letters[x+1]+letters[x+2]
        sum_prob = sum_prob * prob_dict.get(test_str)
        #print(test_str,prob_dict.get(test_str))
    return sum_prob*1000000000000

In [ ]:
def test_perms(letters):
    prob_list = []
    letter_perms = [x for x in itertools.permutations(letters.upper(),len(letters))]
    for x in range(len(letter_perms)):
        prob_list.append(test_probs(letter_perms[x]))
    df_temp = pd.DataFrame(data=[letter_perms,prob_list]).T
    return df_temp.sort_values(by=1,ascending=False).head(20)

### Test a name!

Fix ideas:
1. Test start and end letter probabilities 
2. Add limits / choices for first name letters (e.g. include X, dont leave 2 Ys)
3. Develop heuristic for paring down last name lists

In [ ]:
testname = 'donaldfiero'
df_pers = first_name_list(testname,df_firstname,3,10,vowels=1).sort_values(by='count',ascending=False)

In [105]:
mike_list = ['Malachi Demerio', 'Mohamed Carieli', 'America Hidelmo', 'Elmore Amadichi', 'Hailie Dammeroc' 'Hilario Medemac']
gorav_list = ['Margo Kurav', 'Vara Gorkum' ]
jin_list = ['Jukiy Mignon', 'Nyomi Kingju', 'Jonny Kimigu', 'Yumiko Gjinn']
micah = ['Brigham Weisce', 'Archie Swimbeg']
axhi = ['Xaria Hoppani', 'Ariana Hoppix', 'Roxanna Piphia' ]
autumn = ['Anistynn Pulmukov', 'Montavius N. Plunky', 'Yovanni Nutklumps', 'Novalynn Usktiump', 'Platinum Sunnykov', 'Natsumi Punklynov']
test_perms('KLNNOPUVY')

                                  0            1
209682  (P, L, U, N, N, Y, K, O, V)  1.49039e-16
209802  (P, L, U, N, N, Y, K, O, V)  1.49039e-16
228258  (P, U, N, K, L, Y, N, O, V)  1.09627e-16
228978  (P, U, N, K, L, Y, N, O, V)  1.09627e-16
284774  (V, K, O, P, L, U, N, N, Y)  1.06157e-16
284772  (V, K, O, P, L, U, N, N, Y)  1.06157e-16
211278  (P, L, Y, N, U, N, K, O, V)  5.86337e-17
211158  (P, L, Y, N, U, N, K, O, V)  5.86337e-17
303853  (V, O, N, K, L, U, N, Y, P)  5.23897e-17
304573  (V, O, N, K, L, U, N, Y, P)  5.23897e-17
209640  (P, L, U, N, K, N, O, V, Y)  5.14232e-17
209760  (P, L, U, N, K, N, O, V, Y)  5.14232e-17
351602  (Y, P, U, N, K, L, O, N, V)  4.80471e-17
351722  (Y, P, U, N, K, L, O, N, V)  4.80471e-17
142224  (N, P, L, U, N, K, O, V, Y)  4.19157e-17
101904  (N, P, L, U, N, K, O, V, Y)  4.19157e-17
228087  (P, U, L, V, O, N, N, Y, K)  3.33453e-17
228081  (P, U, L, V, O, N, N, Y, K)  3.33453e-17
209766  (P, L, U, N, K, O, N, V, Y)  3.18048e-17
209646  (P, L, U, N, K, O, N, V, Y)  3.18048e-17

In [103]:
df_pers.iloc[0:50]

             name gender   count   eligible  vowels  rem_count
51052     Kaitlyn      F  163047  MNNOPSUUV       3          9
76136     Nikolas      M   21000  MNNPTUUVY       3          9
51057    Kaitlynn      F   15947   MNOPSUUV       3          8
87460     Santino      M    8329  KLMNPUUVY       3          9
50932     Kailynn      F    3971  MNOPSTUUV       3          9
52848     Katlynn      F    3950  IMNOPSUUV       4          9
53381     Kaytlin      F    3251  MNNOPSUUV       3          9
77889     Olympia      F    3127  KNNNSTUUV       2          9
7110     Anniston      F    2501   KLMPUUVY       3          8
76137    Nikolaus      M    2473   MNNPTUVY       2          8
57064     Klayton      M    2349  IMNNPSUUV       3          9
2541      Aislynn      F    2087  KMNOPTUUV       3          9
6705      Aniston      F    2042  KLMNPUUVY       3          9
52816     Katilyn      F    1730  MNNOPSUUV       3          9
79292     Paulino      M    1676  KMNNSTUVY       2          9
99637     Toniann      F    1287  KLMPSUUVY       3          9
77286     Oaklynn      F    1120  IMNPSTUUV       3          9
97198     Tayvion      M    1070  KLMNNPSUU       2          9
76123     Niklaus      M     954  MNNOPTUVY       3          9
92595     Silvano      M     936  KMNNPTUUY       3          9
7111     Annistyn      F     850   KLMOPUUV       3          8
6708      Anistyn      F     831  KLMNOPUUV       3          9
69066     Matilyn      F     825  KNNOPSUUV       3          9
95321     Tailynn      F     659  KMNOPSUUV       3          9
57083     Klinton      M     580  AMNPSUUVY       4          9
7428     Antonius      M     570   KLMNPUVY       2          8
72090     Mitsuko      F     565  ALNNNPUVY       3          9
53256     Kaylinn      F     554  MNOPSTUUV       3          9
106781    Yovanni      M     539  KLMNPSTUU       2          9
53273     Kayloni      F     410  MNNPSTUUV       2          9
76138     Nikolay      M     394  MNNPSTUUV       2          9
52817    Katilynn      F     390   MNOPSUUV       3          8
41405     Ivyonna      F     365  KLMNPSTUU       2          9
72491   Montavius      M     355    KLNNPUY       2          7
69073     Matison      F     351  KLNNPUUVY       3          9
93026     Slayton      M     350  IKMNNPUUV       3          9
99326     Tiyonna      F     328  KLMNPSUUV       2          9
53395     Kayvion      M     314  LMNNPSTUU       2          9
77144     Nykolas      M     300  IMNNPTUUV       3          9
10297     Austynn      F     281  IKLMNOPUV       3          9
64034     Louvina      F     280  KMNNPSTUY       2          9
52906     Katsumi      M     265  LNNNOPUVY       3          9
78873     Paitynn      F     255  KLMNOSUUV       3          9
71342     Mikalyn      F     245  NNOPSTUUV       3          9
57008     Kiyonna      F     243  LMNPSTUUV       2          9
72137     Miyonna      F     239  KLNPSTUUV       2          9
87999     Sayvion      M     232  KLMNNPTUU       2          9
51053     Kaitlyn      M     232  MNNOPSUUV       3          9
59087     Laikynn      F     229  MNOPSTUUV       3          9
74713     Natsumi      F     224  KLNNOPUVY       3          9

In [ ]:
axhi_list = ['Ariana Hoppix', 'Roxanna Piphia']
julio_list = ['Junior Olaja', 'Anooj Julari', 'Orion Julaja' ]

In [514]:
autumn = ['Anistynn Pulmukov', 'Montavius N. Plunky', 'Yovanni Nutklumps', 'Novalynn Usktiump', 'Platinum Sunnykov']

In [55]:
test_perms('AIJLRU')

                      0           1
349  (J, U, L, A, R, I)   0.0427036
355  (J, U, R, A, L, I)   0.0242794
676  (U, L, A, R, I, J)   0.0136288
252  (J, A, R, I, L, U)  0.00973117
652  (U, J, A, R, I, L)  0.00952844
357  (J, U, R, I, L, A)  0.00947781
354  (J, U, R, A, I, L)  0.00698072
356  (J, U, R, I, A, L)  0.00682725
340  (J, U, A, R, I, L)  0.00618931
637  (U, I, L, A, R, J)  0.00542223
350  (J, U, L, I, A, R)  0.00512123
359  (J, U, R, L, I, A)  0.00478758
706  (U, R, I, L, A, J)   0.0047389
254  (J, A, R, L, I, U)  0.00435523
653  (U, J, A, R, L, I)  0.00372174
679  (U, L, I, A, R, J)  0.00337783
619  (U, A, R, I, L, J)  0.00309465
257  (J, A, R, U, L, I)  0.00283191
270  (J, I, L, A, R, U)  0.00260124
341  (J, U, A, R, L, I)   0.0024175
348  (J, U, L, A, I, R)   0.0024168
256  (J, A, R, U, I, L)  0.00219215
277  (J, I, R, A, U, L)   0.0019546
271  (J, I, L, A, U, R)  0.00194546
382  (L, A, U, R, I, J)  0.00187136

In [47]:
letters='AAHIOPX'
letter_perms = [x for x in itertools.permutations(letters.upper(),len(letters))]
for x in range(10):
    sum_prob = 1
    for x in range(len(letters)-2):
        test_str = letters[x]+letters[x+2]
        sum_prob = sum_prob * prob_dict.get(test_str)
        #print(test_str,prob_dict.get(test_str))
sum_prob*1000000000000

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'

In [45]:
test_str

'AH'