In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import itertools
%matplotlib inline

In [2]:
def letter_count(name):
    letter_list = []
    name = name.upper()
    for letter in alphabet:
        letter_list.append(name.count(letter))
    return np.array(letter_list)

def name_compare(name1,name2):
    letter_array = letter_count(name1) - letter_count(name2)
    if min(letter_array)<0:
        str_letter = ''
    else:
        str_letter = ''
        for x in range(26):
            str_letter = str_letter+letter_array[x]*alphabet[x]
    vowel_count = letter_array[0]+letter_array[4]+letter_array[8]+letter_array[14]+letter_array[20]+letter_array[24]
    return str_letter,vowel_count

def first_name_list(testname, df, min_length, max_length, vowels):
    df['eligible'] = df['name'].apply(lambda x: name_compare(testname,x)[0])
    df['vowels'] = df['name'].apply(lambda x: name_compare(testname,x)[1])
    df['rem_count'] = df['eligible'].apply(lambda x: len(x))
    return df[(df['eligible']!='')&(df['vowels']>=vowels)&(df['rem_count']>min_length)&(df['rem_count']<max_length)]

alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']

### Import Trio Probs and Firstname List

In [3]:
df_probs = pd.read_csv(r'C:\Users\stefa\GitHub\anagrammer-master\anagrammer-master\trio_probs.csv')
df_firstname = pd.read_csv(r'C:\Users\stefa\GitHub\anagrammer-master\anagrammer-master\df_firstname.csv')
prob_dict = {}
for x in range(len(df_probs)):
    prob_dict[df_probs['pairs'][x]] = df_probs['probs'][x]

In [4]:
def test_probs_duo(letters):
    sum_prob = 1
    for x in range(len(letters)-1):
        test_str = letters[x]+letters[x+1]
        sum_prob = sum_prob * prob_dict.get(test_str)
        #print(test_str,prob_dict.get(test_str))
    return sum_prob*1000000000000

def test_probs(letters):
    sum_prob = 1
    for x in range(len(letters)-2):
        test_str = letters[x]+letters[x+1]+letters[x+2]
        sum_prob = sum_prob * prob_dict.get(test_str)
        #print(test_str,prob_dict.get(test_str))
    return sum_prob*1000000000000

def test_perms(letters):
    prob_list = []
    letter_perms = [x for x in itertools.permutations(letters.upper(),len(letters))]
    for x in range(len(letter_perms)):
        prob_list.append(test_probs(letter_perms[x]))
    df_temp = pd.DataFrame(data=[letter_perms,prob_list]).T
    return df_temp.sort_values(by=1,ascending=False).head(20)

In [ ]:
def run_testname(testname, min_length, max_length, vowels):

In [68]:
testname = 'lilpuddinmathlete'
df_pers = first_name_list(testname,df_firstname,min_length=3,max_length=10,vowels=1).sort_values(by='count',ascending=False)

In [78]:
df_pers.tail(50)

       Unnamed: 0       name gender  count   eligible  vowels  rem_count
24100       24100   Dauphine      F     34  DEILLLMTT       2          9
27345       27345   Dianette      F     33  DHILLLMPU       2          9
25579       25579   Delphine      M     33  ADILLMTTU       3          9
1194         1194   Addiline      F     32  EHLLMPTTU       2          9
62836       62836   Lillette      F     31  ADDHIMNPU       3          9
70108       70108   Meilanie      F     30  DDHLLPTTU       1          9
25852       25852   Demilade      F     29  HILLNPTTU       2          9
61808       61808   Lemanuel      M     28  DDHIILPTT       2          9
70383       70383   Mellinda      F     27  DEHILPTTU       3          9
23155       23155  Daniellie      F     27   DHLMPTTU       1          8
32051       32051   Epimenia      F     23  DDHLLLTTU       1          9
25580       25580  Delphinia      F     23   DELLMTTU       2          8
25337       25337  Delaphine      F     22   DILLMTTU       2          8
70215       70215   Melandie      F     21  DHILLPTTU       2          9
27577       27577   Dinahlee      F     20  DILLMPTTU       2          9
1347         1347   Adelline      F     18  DHILMPTTU       2          9
97502       97502   Telethia      F     18  DDILLMNPU       2          9
29737       29737   Edmanuel      M     17  DHIILLPTT       2          9
32780       32780   Ethelind      F     15  ADILLMPTU       3          9
67028       67028   Manuelle      M     14  DDHIILPTT       2          9
22296       22296   Dainette      F     14  DHILLLMPU       2          9
97574       97574   Temilade      F     13  DHILLNPTU       2          9
74577       74577   Natellie      F     12  DDHILMPTU       2          9
23183       23183   Danillie      F     12  DEHLMPTTU       2          9
25573       25573  Delphenia      F     11   DILLMTTU       2          8
25406       25406   Delethia      F     11  DILLMNPTU       2          9
29723       29723   Edithmae      F     10  DILLLNPTU       2          9
27864       27864   Dnaielle      F     10  DHILMPTTU       2          9
30994       30994   Elmedina      F     10  DHILLPTTU       2          9
71502       71502   Miladeen      F      9  DHILLPTTU       2          9
69199       69199  Maudeline      F      8   DHILLPTT       1          8
9764         9764   Atheline      F      7  DDILLMPTU       2          9
75386       75386   Nephtali      F      6  DDEILLMTU       3          9
65529       65529   Madilene      F      6  DHILLPTTU       2          9
99201       99201   Tiphaine      F      5  DDELLLMTU       2          9
96187       96187   Taneille      F      5  DDHILMPTU       2          9
80032       80032   Platinum      F      5  DDEEHILLT       3          9
99202       99202   Tiphanee      F      5  DDILLLMTU       2          9
25470       25470   Dellanie      F      5  DHILMPTTU       2          9
61675       61675   Leilauni      F      5  DDEHLMPTT       1          9
23164       23164   Daniette      F      5  DHILLLMPU       2          9
25660       25660   Demanuel      M      5  DHIILLPTT       2          9
26056       26056   Deniella      F      5  DHILMPTTU       2          9
25029       25029   Deelilah      F      5  DILMNPTTU       2          9
70105       70105   Meilahni      F      5  DDELLPTTU       2          9
22851       22851   Damielle      F      5  DHILNPTTU       2          9
61445       61445   Ledaniel      M      5  DHILMPTTU       2          9
64384       64384   Luedella      F      5  DHIIMNPTT       2          9
61650       61650   Leihlani      F      5  DDELMPTTU       2          9
63002       63002   Lindella      F      5  DEHIMPTTU       3          9

In [ ]:
dave_dallosto = ['Dallas Doveto', 'Vesta Dollado', 'Atlas Doveldo', 'Osvaldo Delta']
dfm = ['Donnamarie Melkyface', 'Markdaniel Fanecomey']
rodrigo_luger = ['Ridge Grolour', 'Gregor Duroli', 'Orlo Druggier', 'Girlrod Rogue']
christina_hedges = ['Gretchen Sihadis', 'Cherish Steading', 'Sheridan Gesicht', 'Dietrich Shagens', 'Heather Discings']
ruth_angus = ['Hung Raust', 'Garth Sunu', 'Shuu Trang', 'Gus Hurant']
tom_barclay = ['Mary Clabot', 'Carol Tamby', 'Al MacBorty', 'Cory Matlab', 'Cambry Talo', 'Yola McBart']
jeff_jennings = ['Ensign J. Jeffn', 'Finn J. Fjenges', 'Jens J. Ffennig']
lilpuddinmathlete = ['Lethaniel Tumplidd', 'Delphina Dumillett', 'Maddeline Hillputt', 'Lindella Dhumpetti']

In [76]:
test_perms('DEHIMPTTU')

                                  0            1
118487  (H, U, M, P, E, T, T, I, D)  7.33748e-13
118481  (H, U, M, P, E, T, T, I, D)  7.33748e-13
9653    (D, H, U, M, P, E, T, T, I)  6.60373e-13
9651    (D, H, U, M, P, E, T, T, I)  6.60373e-13
116034  (H, U, D, E, T, T, I, M, P)  4.82572e-13
116010  (H, U, D, E, T, T, I, M, P)  4.82572e-13
323145  (U, D, E, T, T, I, M, P, H)  3.97053e-13
323265  (U, D, E, T, T, I, M, P, H)  3.97053e-13
120888  (H, U, T, T, I, D, E, M, P)  3.75524e-13
120168  (H, U, T, T, I, D, E, M, P)  3.75524e-13
116154  (H, U, D, I, T, T, E, M, P)  3.16065e-13
116130  (H, U, D, I, T, T, E, M, P)  3.16065e-13
322849  (U, D, E, M, P, H, I, T, T)  2.90564e-13
322848  (U, D, E, M, P, H, I, T, T)  2.90564e-13
345905  (U, M, P, H, I, T, T, E, D)  2.77865e-13
345911  (U, M, P, H, I, T, T, E, D)  2.77865e-13
324579  (U, D, I, T, T, E, M, P, H)  2.60054e-13
324699  (U, D, I, T, T, E, M, P, H)  2.60054e-13
118511  (H, U, M, P, I, T, T, E, D)  2.35415e-13
118505  (H, U, M, P, I, T, T, E, D)  2.35415e-13

In [ ]:
mike_list = ['Malachi Demerio', 'Mohamed Carieli', 'America Hidelmo', 'Elmore Amadichi', 'Hailie Dammeroc' 'Hilario Medemac']
gorav_list = ['Margo Kurav', 'Vara Gorkum' ]
jin_list = ['Jukiy Mignon', 'Nyomi Kingju', 'Jonny Kimigu', 'Yumiko Gjinn']
micah = ['Brigham Weisce', 'Archie Swimbeg']
axhi = ['Xaria Hoppani', 'Ariana Hoppix', 'Roxanna Piphia' ]
autumn = ['Anistynn Pulmukov', 'Montavius N. Plunky', 'Yovanni Nutklumps', 'Novalynn Usktiump', 'Platinum Sunnykov', 'Natsumi Punklynov']
julio_list = ['Junior Olaja', 'Anooj Julari', 'Orion Julaja' ]
autumn = ['Anistynn Pulmukov', 'Montavius N. Plunky', 'Yovanni Nutklumps', 'Novalynn Usktiump', 'Platinum Sunnykov']